@model ProductViewModel

@{
    Layout = "_Layout";
}

@{
    var popularClass = Model.Products.Count > 2 ? "popular" : "";
    var products = Model.Products;
}

@section Categories
{
    @*Kategoriler gelecek*@
    @await Component.InvokeAsync("Categories")
}

@*Ürünler gelecek*@
@if (products.Count == 0)
{
    @await Html.PartialAsync("_noproduct")
}
else
{
    <div class="row">
        @foreach (var product in products)
        {
            <div class="col-md-3">
                @await Html.PartialAsync("_product", product)
            </div>
        }
    </div>
}
