@model Product

<div class="card">
    <img class="card-img-top" src="https://m.media-amazon.com/images/I/71ZiSXOdnhL._AC_SX679_.jpg" />
    <div class="card-body">
        <h5 class="card-title">@Model.Name</h5>
        <p class="card-text">@Model.Description</p>
        <a class="btn btn-primary" href="#">İncele</a>
    </div>
</div>
